*.csproj
.vs/
Assets/StreamingAssets/sp_human_face_68_for_mobile.dat
Assets/StreamingAssets/sp_human_face_68_for_mobile.dat.meta
Assets/Plagins/SharpDX*
Assets/UniGLTF*
Assets/VRM*
Assets/VRMShaders*
Assets/uOSC*
Library/
Logs/
Packages/
!Packages/manifest.json
!Packages/packages-lock.json
UnityPackageManager/
obj/
